<div class="operation-form">
    <div class="p-d-flex">
        <!-- <div class="p-grid"> -->
        <form class="p-col-12">
            <p>Pagina de Abonar</p>
            <div class="p-grid">
                <div class="p-col-3">
                    <input type="text" formControlName="operacion" placeholder="N° Operación Asociada">
                </div>
                <div class="p-col-3">
                    <input type="text" formControlName="tipoOperacion" placeholder="Tipo de Operación">
                </div>
                <div class="p-col-3">
                    <input type="text" formControlName="tipoExpedicion" placeholder="Tipo de Expedición">
                </div>
              </div>
           
            <br>

          
        </form>
        <!-- </div> -->
    </div>

</div>