<div class="operation-list">
    <div class="p-d-flex">
        <form class="p-col-12" [formGroup]="form">


            <div class="p-grid">
                <div class="p-col-3">
                    <p-button label="Abonar" icon="pi pi-search" (onClick)="abonar()"></p-button>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-3">
                    <p-button label="Compra/Venta" icon="pi pi-search" (onClick)="compraVenta()"></p-button>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-3">
                    <p-button label="Retirar" icon="pi pi-search" (onClick)="abonar()"></p-button>
                </div>
            </div>
            <div class="p-grid">
                <div class="p-col-3">
                    <p-button label="No se" icon="pi pi-search" (onClick)="abonar()"></p-button>
                </div>
            </div>
        </form>
    </div>

</div>