<movarq-auth *ngIf="!isLogged && auth_config" [config]="auth_config" showLiteral=false></movarq-auth>

<div *ngIf=isLogged class="mova-quickstart">
  <movarq-topbar2 >
    <div class="p-col-3">
      <p-button label="Nombre corporativo" (onClick)="viewLoadUnit()"></p-button>
    </div>
    <div class="p-col-3">
      <p-button label="Vista Trader" (onClick)="viewLoadUnit()"></p-button>
    </div>
    <div class="p-col-3">
      <p-button label="Saldo Disponible" (onClick)="viewLoadUnit()"></p-button>
    </div>
    <div class="p-col-3">
      <p-button label="Usuario" (onClick)="viewLoadUnit()"></p-button>
    </div>
  </movarq-topbar2>

  <div #container class="mova-quickstart__container" (click)="closeSubMenu()">
    <router-outlet></router-outlet>
  </div>
</div>

<br/><br/><br/>

<div class="content-section implementation">
  <div class="card">
      <p-button label="Abonar" icon="pi pi-search" (onClick)="abonar()"></p-button>
  </div>
</div>
<div class="content-section implementation">
  <div>
      <p-button label="Compra/Venta" icon="pi pi-search" (onClick)="compraVenta()"></p-button>
  </div>
</div>
<div class="content-section implementation">
  <div>
      <p-button label="Retirar" icon="pi pi-search" (onClick)="retirar()"></p-button>
  </div>
</div>
<div class="content-section implementation">
  <div>
      <p-button label="No se" icon="pi pi-search" (onClick)="abonar()"></p-button>

  </div>
</div>
