<div class="operation-list">
    <div class="p-d-flex">
        <form class="p-col-12" [formGroup]="form">
            <div class="p-grid">
                <div class="p-col-3">
                    <p-dropdown optionLabel="elementDescription" dataKey="elementCode" [options]="Operaciones"
                        formControlName="operationId" placeholder="Operación">
                    </p-dropdown>
                </div>
                <div class="p-col-3">
                    <input type="text" formControlName="value1" placeholder="Número Patente">
                </div>
                <div class="p-col-3">
                    <input type="text" formControlName="value2" placeholder="Número Contenedor">
                </div>
            </div>
            <br />
            <p-accordion>
                <p-accordionTab header="Mas Filtros">
                    <div class="p-grid">
                        <div class="p-col-3">
                            <p-calendar inputId="startDate" formControlName="startDate" placeholder="Ubicación"
                                [readonlyInput]="true">
                            </p-calendar>
                        </div>
                        <div class="p-col-3">
                            <p-calendar inputId="endDate" formControlName="endDate" placeholder="Estado de Carga"
                                [readonlyInput]="true">
                            </p-calendar>
                        </div>
                        <div class="p-col-3">
                            <p-inputNumber formControlName="terminalId" placeholder="Tipo Documento"></p-inputNumber>
                        </div>
                        <div class="p-col-3">
                            <p-inputNumber formControlName="rotationNumber" placeholder="Número Documento">
                            </p-inputNumber>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-3">
                            <p-inputNumber formControlName="storer" placeholder="Exportador"></p-inputNumber>
                        </div>
                        <div class="p-col-3">
                            <p-inputNumber formControlName="operator" placeholder="Agente Aduana"></p-inputNumber>
                        </div>
                        <div class="p-col-3">
                            <p-calendar inputId="starDate" formControlName="starDate" placeholder="Fecha Creación Desde"
                                [readonlyInput]="true">
                            </p-calendar>
                        </div>
                        <div class="p-col-3">
                            <p-calendar inputId="endDate" formControlName="endDate" placeholder="Fecha Creación Hasta"
                                [readonlyInput]="true">
                            </p-calendar>

                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <br />
            <div class="p-grid">
                <div class="p-col-3">
                    <p-button label="Buscar" icon="pi pi-search" (onClick)="search()"></p-button>
                </div>
                <div class="p-col-3">
                    <p-button label="+ Agregar" (onClick)="createLoadUnit()"></p-button>
                </div>
                <div class="p-col-3">
                    <p-button label="ver" (onClick)="viewLoadUnit()"></p-button>
                </div>
            </div>
        </form>
    </div>

    <div class="operation-table">
        <p-table [value]="loadUnits" [paginator]="true" [rows]="10" [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-operation>
                <tr>
                    <td *ngFor="let col of cols">
                        {{operation[col.field]}}
                    </td>
                    <td style="text-align: center">
                        <button pButton type="button" class="p-button-secondary action-button" icon="pi pi-cog"
                            (click)="modifyOperation(operation.operationId)"></button>
                        <button pButton type="button" class="p-button-secondary action-button" icon="pi pi-cog"
                            (click)="deleteOperation(operation.operationId)"></button>
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="body" let-operation>
                <tr>
                  
                </tr>
            </ng-template> -->

            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="columns?.length">
                        No records found
                    </td>
                </tr>
            </ng-template>
            <ng-template let-item pTemplate="paginatordropdownitem">
                {{item.value}} - per page
            </ng-template>
        </p-table>
    </div>
</div>