<div class="operation-list p-col-12">
  
    <div class="p-d-flex p-col-12">
        
        <form class="p-col-12" [formGroup]="form">
            <br><br><br><br>
            <h1> Compraventa</h1>
          
            <div class="p-grid p-col-2">
                <div class="p-col-12 menu">
                    <p-tabMenu [model]="items"></p-tabMenu>
            
                </div>
                <p-dropdown class="p-col-12" [options]="coins" formControlName="selectedCoins" optionLabel="name"></p-dropdown>
                <p-dropdown class="p-col-12"  [options]="paises" formControlName="selectedCity" optionLabel="name"></p-dropdown>

<div class="p-col-2">
                    <input type="number" formControlName="montoAbonar" placeholder="cuanto abonaras?">
                </div>
   
    <!-- <button pButton type="button" label="prueba 5" icon="pi-send"iconPos="right"></button> -->


            </div>

<div>

</div>

<button pButton type="button p-col-4" label="ENVIAR" ></button>

        </form>

        

